<form (ngSubmit)="submitForm()" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-12">
                    List Criteria
                </label>
                <div class="col-sm-12">
                    <textarea
                        #listCriteria
                        [(ngModel)]="jsonEditor.listCriteria"
                        (keyup)="onJsonDataChange('listCriteria')"
                        class="form-control"
                        rows="8"
                        name="listCriteriaJSON"></textarea>
                </div>
                <div class="col-sm-12 checkbox text-right">
                    <label>
                        <input
                            type="checkbox"
                            [checked]="isValid.listCriteria"
                            disabled
                        />isValid?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12">
                    Output Columns
                </label>
                <div class="col-sm-12">
                    <textarea
                        #outCriteria
                        [(ngModel)]="jsonEditor.outCriteria"
                        (keyup)="onJsonDataChange('outCriteria')"
                        class="form-control"
                        rows="8"
                        name="outCriteriaJSON"></textarea>
                </div>
                <div class="col-sm-12 checkbox text-right">
                    <label>
                        <input
                            type="checkbox"
                            [checked]="isValid.outCriteria"
                            disabled
                        />isValid?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12">
                    Billing Data
                </label>
                <div class="col-sm-12">
                    <textarea
                        #billingData
                        [(ngModel)]="jsonEditor.billingData"
                        (keyup)="onListCriteriaChange('billingData')"
                        class="form-control"
                        rows="8"
                        name="billingDataJSON"></textarea>
                </div>
                <div class="col-sm-12 checkbox text-right">
                    <label>
                        <input
                            type="checkbox"
                            [checked]="isValid.billingData"
                            disabled
                        />isValid?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12">
                    Tags
                </label>
                <div class="col-sm-12">
                    <textarea
                        #tags
                        [(ngModel)]="jsonEditor.tags"
                        (keyup)="onJsonDataChange('tags')"
                        class="form-control"
                        rows="3"
                        name="tagsJSON"></textarea>
                </div>
                <div class="col-sm-12 checkbox text-right">
                    <label>
                        <input
                            type="checkbox"
                            [checked]="isValid.tags"
                            disabled
                        />isValid?
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <br>
            <div class="form-group">
                <label class="col-sm-3">
                    datasetCode
                </label>
                <div class="col-sm-9">
                    <input class="form-control" name="text" readonly
                        [value]="model.datasetCode"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    qtyDesired
                </label>
                <div class="col-sm-9">
                    <input class="form-control" name="text" readonly
                        [value]="model.qtyDesired"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    countID
                </label>
                <div class="col-sm-9">
                    <input class="form-control" name="text" readonly
                        [value]="model.countId"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    geoCriteria
                </label>
                <div class="col-sm-9">
                    <input class="form-control" name="text" readonly
                        [value]="model.geoCriteria"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    demoCriteria
                </label>
                <div class="col-sm-9">
                    <input class="form-control" name="text" readonly
                        [value]="model.demoCriteria"
                    />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary btn-block"
                        [disabled]="!isValid"
                    >
                        Create List
                    </button>
                </div>
                <div class="col-sm-6 has-error"
                    *ngIf="isAllSet() && !isAllValid()">
                    <span class="help-block">JSON is not valid!</span>
                </div>
            </div>
        </div>
    </div>
</form>